body {
	font-family:Calibri,sans-serif;
	color:#000;
	background-color:#555;
	text-align:center;
}
.game {
	background-color:#eee;
	padding: 0.5em;
}
@media print, screen and (max-width: 480px) {
	body {
		margin:0;
	}
}
@media print, screen and (min-width: 36em) {
	body {
		font-size:175%;
	}
	.game {
		padding:1em;
	}
}
@media print, screen and (min-width: 670px) {
	body {
		background-image:url("http://dl.dropboxusercontent.com/u/26353384/Language%20sound%20files/flags.png");
	}
	.game {
		width:595px;
		margin:0 auto;
		-webkit-box-shadow:0 0 4em #003;
		-moz-box-shadow:0 0 4em #003;
		-o-box-shadow:0 0 4em #003;
		box-shadow:0 0 4em #003;
	}
}

.playing, .gameover {
	display:none;
}
.play .playing,
.over .gameover {
	display:block;
}

.green {
	color:#050;
}
.red {
	color:#600;
}

.scoreboard {
	margin:0.4em;
	padding:0.4em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	color:#fff;
	font-family:Verdana,sans-serif;
	background-color:#444;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorstr="#666", endColorstr="#333");
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#666), color-stop(95%,#333), color-stop(100%,#222));
	background-image:-webkit-linear-gradient(top, #666 0%,#333 95%,#222 100%);
	background-image:-moz-linear-gradient(top, #666 0%,#333 95%,#222 100%);
	background-image:-o-linear-gradient(top, #666 0%,#333 95%,#222 100%);
	background-image:linear-gradient(to bottom, #666 0%,#333 95%,#222 100%)
}
.scoreboard span {
	display:inline-block;
}
.spacer {
	width:10%;
}
#score {
	font-weight:bold;
} 

#pressplay {
	font-size:75%;
}

.midpanel {
	padding:0.4em;
	height:2.5em;
}
.midpanel span {
	display:inline-block;
	vertical-align:top;
}
#error {
	text-align:center;
	width:80%;
	opacity:0;
	-webkit-transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	-o-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
#timer {
	width:15%;
	text-align:right;
	color:#555;
}

button {
	vertical-align:top;
	min-height:5em;
	width:45%;
	cursor:pointer;
	-webkit-box-shadow:0 0 0.6em #358;
	-moz-box-shadow:0 0 0.6em #358;
	-o-box-shadow:0 0 0.6em #358;
	box-shadow:0 0 0.6em #358;
	background-color:#7bf;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr="#7bf", endColorstr="#378de5");
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0,#7bf), color-stop(1,#378de5));
	background-image:-webkit-linear-gradient(top,#7bf,#378de5);
	background-image:-moz-linear-gradient(top,#7bf,#378de5);
	background-image:-o-linear-gradient(top,#7bf,#378de5);
	background-image:linear-gradient(to bottom,#7bf,#378de5);
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	border-radius:0.3em;
	color:#fff;
	font-family:"Trebuchet MS",sans-serif;
	font-size:0.85em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0.04em 0.05em 0 #58c;
}

#results {
	height:9em;
}

.fbshare {
	color:#fff;
	background-color:#3b5998;
	text-decoration:none;
}

.about {
	font-size:50%;
	text-align:right;
}
